[flake8]
# Выбираем только критические ошибки (PyFlakes + синтаксические)
select = F,E901,E902

# Игнорируем все остальные категории (стилистические, предупреждения и т.д.)
ignore = E,W,C

# Настройки для исключения директорий
exclude =
    .venv/,
    auditorium_app/tests/,
    *migrations*,
    *pycache*,
    university_auditorium/

# Максимальная длина строки (опционально, для совместимости)
max-line-length = 88